#Post {
  h2,h3 {
    padding-top: 0.8rem;
  }
  h2 {
    @extend .border-bottom;
    padding-bottom: 0.5rem;
    margin-bottom: 0.8rem;
  }
  p,
  li {
    font-family: serif;
  }
  pre {
    padding: 1rem;
    border-left: 5px solid var(--bs-code-color);
  }
  blockquote {
    @extend .blockquote;
    padding: .85rem;
    background: rgba(var(--bs-secondary-bg-rgb), 0.5);
  }
  kbd {
    font-weight: 700;
  }
  abbr {
    text-decoration: underline dotted 1px;
    text-underline-offset: 0.135rem;
    font-weight: bolder;
    &:hover {
      cursor: help;
    }
  }
  em {
    font-style: italic;
    font-weight: bolder;
  }
  small {
    font-weight: 200;
  }
  img {
    max-width: 100%;
    height: auto;
    max-height: 18rem;
  }
}
