// variable overrides in:
// ../../node_modules/bootstrap/scss/_variables.scss

/* latin */
@font-face {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 300 900;
  font-display: swap;
  src: url(/fonts/8vIQ7wUr0m80wwYf0QCXZzYzUoTg_T6h.woff2) format('woff2');
}
@font-face {
  font-family: 'Red Hat Display';
  font-style: italic;
  font-weight: 300 900;
  font-display: swap;
  src: url(/fonts/8vIS7wUr0m80wwYf0QCXZzYzUoTg-A6jTY8.woff2) format('woff2');
}

// Typography
$font-family-sans-serif:  'Red Hat Display', sans-serif;
$font-size-base:          1.125rem; // Assumes the browser default, typically `16px`

$h1-font-size:   $font-size-base * 2.5;
$h2-font-size:   $font-size-base * 1.8;
$h3-font-size:   $font-size-base * 1.6;
$h4-font-size:   $font-size-base * 1.4;
$h5-font-size:   $font-size-base * 1.2;
$h6-font-size:   $font-size-base;

$font-weight-base:        400;
$headings-font-family:    'Red Hat Display', sans-serif;
$headings-font-weight:    900;

$enable-rounded:     false;
$enable-shadows:     true;
$enable-gradients:   true;
$min-contrast-ratio:   2;

// colors
$primary:       #20c997;
$secondary:     #5e7683;
$highlight:     #d63384;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "highlight":  $highlight,
);

$gradient: linear-gradient(168deg, rgba(255,255,255, .23), rgba(255,255,255, 0)) !default;
$border-color: rgba(var(--bs-body-color-rgb), .15);

// Code

$code-color:                  #d63384; // --bs-pink

// Style anchor elements.

$link-color:                  $primary;
$link-decoration:             underline;
$link-shade-percentage:       20%;
$link-hover-color:            shift-color($link-color, $link-shade-percentage);
$link-hover-decoration:       null;
