---
import { getCollection } from 'astro:content';
import { GET } from '../api/v1/tags.json'
import PageLayout from "../../layouts/PageLayout.astro";
import PageBrake from './../../components/PageBrake.astro'
import TagCloud from "../../components/TagCloud.astro"
import TitlesList from './../../components/TitlesList.astro'
import { WIKI_DESCRIPTION } from '../../consts';

export async function getStaticPaths() {
  let paths = []

  // fetch tags list
  let response = await GET(Astro)
  const tagsList = await response.json()

  for(let i = 0; i < tagsList.length; i++) {
    const tag = tagsList[i]

    // Filter out wiki entries by tag
    const filteredCollection = await getCollection('wiki', ({ data }) => {
      return data.tags?.includes(tag)
    });

    const path = {
      params: { tag },
      props: { 
        tag,
        filteredCollection,
      },
    }

    paths = [...paths, path]
  }

  return paths
}

const {tag, filteredCollection} = Astro.props
---
<PageLayout title={`#${tag}`} description={WIKI_DESCRIPTION}>
  <div class="container-small">
    <div class="mt-5"><TagCloud/></div>
    <PageBrake/>
    <div class="d-flex justify-content-center">
      <TitlesList articles={filteredCollection} />
    </div>
  </div>
</PageLayout>
