---
import PageLayout from "../layouts/PageLayout.astro";
import PageBrake from '../components/PageBrake.astro'

---

<PageLayout title="Nothing to see here." description="404">
  <section class="container-small text-center">
  <PageBrake/>
    <div class="image"><img src="/kamenraptor.gif"/></div>
  </section>
</PageLayout>
