---
import { getCollection } from "astro:content";
import PageLayout from "../layouts/PageLayout.astro";
import BrandBtn from '../components/BrandBtn.astro'
import PageBrake from '../components/PageBrake.astro'
import BlogItem from '../components/BlogCard.astro'

const skillz = ["Linux","Shell","Git","Docker","Drupal","React","Javascript","Html","Css"]
const entries = await getCollection("blog");
---
<PageLayout desc="Browse a bunch of code snippets I've snaged over time.">
  <section class="container-small">
    <div class="d-flex flex-wrap gap-2 mt-3">
      {skillz.map(entry => <BrandBtn href={`/tags/${entry.toLowerCase()}`} title={entry} variant="sm px-3" icon={entry.toLowerCase()} />)}
    </div>
  </section>
  <PageBrake/>
  <section id="blog-grid">
    {entries.map(entry => <BlogItem entry={entry} />)}
  </section>
</PageLayout>
