---
const { href, title, icon, class:className } = Astro.props
const baseClass = 'btn btn-brand text-capitalizefont-monospace'
---

<a href={href} class:list={[ className, baseClass ]}>

  {icon && <span class="me-1">
    <svg class="svg-inline" aria-hidden="true">
      <use href={icon}></use>
    </svg>
  </span>}
  <span>
    {title}
  </span>
</a>
<style>
.svg-inline {
  font-size: inherit;
  height: 1.2em;
  width: 1.2rem;
  vertical-align: -.25em;
  display: inline-block;
  overflow: visible;
}
</style>
