<div class="page-break d-flex align-items-center px-1 my-5" style="min-height: 3.5rem;">
    <div class="border-bottom w-50"></div>
    <div class="btn btn-lg btn-link disabled">
        <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 512 512"><path fill="currentColor" d="M302.7 64L143 288h95.8l-29.5 160L369 224h-95.8l29.5-160z"></path></svg>
    </div>
    <div class="border-bottom w-50"></div>
</div>
