---
import { GET } from '../pages/api/v1/tags.json'
import BtnBrand from '../components/BtnBrand.astro'

// fetch tags list
let response = await GET(Astro)
const tagsList = await response.json()
---
<div class="d-flex flex-wrap gap-2 ">
  {tagsList.map(entry => <BtnBrand href={`/tags/${entry}`} title={entry} variant={} />)}
</div>
