---
const { articles } = Astro.props
const className = 'fat-underline text-body fs-5 fw-black'
---
<ul>
  {articles.map(entry => <li class="mb-1">
    <a class={className} href={`/wiki/${entry.slug}/`}>{entry.data.title}</a>
  </li>)}
</ul>
