---
import { getCollection } from "astro:content";
import PageLayout from "../../layouts/PageLayout.astro";
import PageBrake from '../../components/PageBrake.astro'
import BrandBtn from '../../components/BrandBtn.astro'

export async function getStaticPaths() {
  const entries = await getCollection("wiki");

  return entries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---
<PageLayout title={entry.data.title}>
  <div class="container-small">
    <PageBrake/>
    <div class="date text-center text-muted my-3">
      <time>{entry.data.changed.toString().slice(0,15)}</time>
    </div>
    <article id="Post">
      <div class="body">
        <Content />
      </div>
      <footer class="footer mt-5">
        {entry.data.tags && 
          entry.data.tags.map(tag => <BrandBtn href={`/tags/${tag}`} title={`#${tag}`} variant="sm m-1" />)
        }
      </footer>
    </article>
  </div>
</PageLayout>
