---
import { getCollection } from "astro:content";
import PageLayout from "../../layouts/PageLayout.astro";

const files = await getCollection("wiki");
---
<PageLayout>
    <h2>Files:</h2>
    {files &&
        <ul>
          {files.map(file => <li><a href={`${import.meta.env.BASE_URL}wiki/${file.slug}/`}>{file.slug}</a></li>)}
        </ul>
    }
</PageLayout>
