---
import { getCollection } from "astro:content";
import PageLayout from "../../layouts/PageLayout.astro";
import TagCloud from "../../components/TagCloud.astro"
import PageBrake from './../../components/PageBrake.astro'
import TitlesList from './../../components/TitlesList.astro'
const articles = await getCollection("wiki");
const description = "Snippets, Configurations, Commands, Prompts, Hacks & Secrets"
---
<PageLayout title="🎱 Knowledge Base" {description}>
  <div class="container-small">
    <div class="mt-5"><TagCloud/></div>
    <PageBrake/>
    {articles &&
      <div class="d-flex justify-content-center">
        <TitlesList {articles} />
      </div>
    }
  </div>
</PageLayout>
