---
import PageLayout from "../layouts/PageLayout.astro";
import PageBrake from '../components/PageBrake.astro'
const { frontmatter } = Astro.props
---
<PageLayout title={frontmatter.title}>
  <div class="container-small">
    <PageBrake/>
    <div class="date text-center text-muted my-3">
      <time>{frontmatter.changed.toString().slice(0,15)}</time>
    </div>
    <article id="Post">
      <div class="body">
        <slot />
      </div>
      <footer class="footer">
        {frontmatter.tags && 
          frontmatter.tags.map(tag => <a href={`/tags/${tag}`}>
            <button type="button" class="text-capitalize me-2 mb-2 btn btn-primary">{tag}</button>
          </a>)
        }
      </footer>
    </article>
  </div>
</PageLayout>
