---
import PageBrake from '../components/PageBrake.astro'
import Footer from '../components/Footer.astro'
import 'bootstrap/dist/css/bootstrap.min.css'
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header class="d-flex justify-content-center m-5"> 
      <nav class="btn-group text-center">
        <a href="/" class="btn btn-primary">Home</a>
        <a href="/wiki" class="btn btn-outline-primary">Wiki</a>
      </nav>
    </header> 
    <main class="container">
      <PageBrake/>
      <slot />
    </main>
    <Footer/>
  </body>
</html>
