---
import Footer from '../components/Footer.astro'
import About from '../components/About.astro'
import '../styles/index.scss'
const { title, desc } = Astro.props;
---
<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="page">
      <header class="d-flex justify-content-center m-5"> 
        <nav class="btn-group text-center">
          <a href="/" class="btn btn-primary">Home</a>
          <a href="/wiki" class="btn btn-outline-primary">Wiki</a>
        </nav>
      </header> 
      <main class="container">
        <slot />
      </main>
      <Footer/>
    </div>
    <div id="about" class="about">
      <About/>
    </div>
  </body>
</html>
