---
import Footer from '../components/Footer.astro'
import AboutSection from '../components/AboutSection.astro'
import Hero from '../components/Hero.astro'
import AboutBtn from '../components/AboutBtn.astro'
import ThemeSwitch from '../components/ThemeSwitch.astro'
import Symbols from '../components/Symbols.astro'
import HeaderLink from '../components/HeaderLink.astro'
import '../styles/index.scss'
const { title, desc } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title ? `${title}` : `toabr.de`}</title>
    <meta name="description" content="personal portfolio" />
    <meta name="theme-color" content="#20c997" />
    <meta name="author" content="Torsten Abraham" />
    <meta name="keywords" content="webdevelopment, freelancer, frontend, berlin, drupal" />

    <link rel="shortcut icon" href="/logo192.png" />
    <link rel="canonical" href="https://toabr.de/">
    <!-- <link rel="manifest" href="./site.webmanifest" /> -->
    <link rel="apple-touch-icon" href="/logo192.png" />

    <!-- Open Graph Metadata -->
    <meta property="og:title" content="toabr.de" />
    <meta property="og:description" content="personal portfolio" />
    <meta property="og:image" content="/logo192.png" />
    <meta property="og:url" content="https://toabr.de/" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />

    <!-- preloads -->
    <link rel="preload" as="image" href="/hero.webp">
    <link rel="preload" as="image" href="/kendal-hnysCJrPpkc-unsplash_sm.webp">
    <!-- <link rel="preload" as="font" href="/fonts/" type="font/ttf" crossorigin /> -->
  </head>
  <body>
    <Symbols/>
    <div id="page" class="min-vh-100 overflow-hidden d-flex flex-column">
      <header class="container-fluid text-center"> 
        <div class="d-flex justify-content-between align-items-center pt-2">
          <AboutBtn />
          <ThemeSwitch />
        </div>
        <Hero/>
        <nav class="btn-group mt-5 mb-4">
          <HeaderLink href="/" class="btn btn-outline-primary">Home</HeaderLink>
          <HeaderLink href="/wiki" class="btn btn-outline-primary">Wiki</HeaderLink>
        </nav>
        <div class="text-center mt-3 undefined">
          {title && <h1>{title}</h1>}
          {!title && <h1 class="braces"><span>to</span>abr.de</h1>}
          {desc && <p class="lead text-capitalize">{desc}</p>} </div>
      </header> 
      <main class="container" style="max-width: 1040px;">
        <slot/>
      </main>
      <Footer/>
    </div>
    <div id="about" class="about">
      <AboutSection/>
    </div>
  </body>
</html>
